@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:wght@400;500;700&display=swap');

:root{
    --dark-cyan: #3c8067;
    --cream: #f2ebe3;
    --very-dark-blue: #1c232b;
    --dark-grayish-blue: #6c7289;
    --white: #ffffff;

    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', serif;
}

body{
    background-color: var(--cream);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: #3e52a3; 
}