@media screen and (min-width: 0px) {
    .card{
        flex-direction: column;
    }

    .card__image--desktop{
        display: none;
    }
    .card__image--mobile{
        display: inline-block;
    }
}