.card{
    background-color: var(--white);
}

.card__text{
    
}

.card__text__subtitle{

}

.card__text__title{
    
}

.card__text__description{

}

.card__text_values{

}

.card__text_values--new{

}

.card__text_values--old{

}

.card__text__button{

}

.card__text__button__image{

}

.card__text__subtitle, .card__text__description, .card__text__button{
    font-family: var(--montserrat);
}

.card__text__title, .card__text_values{
    font-family: var(--fraunces);
}